<h2>Items</h2>
<input type="file" (change)="addItem($event.target.files[0])">
<table>
  <thead>
    <tr>
      <th>*</th>
      <th>Name</th>
      <th>Type</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of items">
          <td>
            <button (click)="deleteItem(item)">-</button>
          </td>
          <td><a [href]="item.url|safeUrl">{{item.name}}</a></td>
          <td>{{item.type}}</td>
          <td>{{item.size}}</td>
      </tr>
  </tbody>
</table>
